@import url('https://fonts.googleapis.com/css?family=Lato:100,400&display=swap');


* {
    box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    height:70vh;
}
.routines {
    margin-top: 10px;
}

.month, .routine {
    background: white;
    border: .5px solid black;
    width:7rem;
    height:2rem;  
    text-align: left;
    padding:7px 0 0 7px;
    margin-right: 10px;
}

.month-days, .routines {
    display: flex;
}

.item, .days {
    background: white;
    border: .5px solid tomato;
    width:2rem;
    height:2rem; 
    font-weight:300;
    padding: 8px 7px;
    margin-right: 1.5px;
}

.flag {

    font-size: 1.5rem; 
    border:none; 
    padding-top: 0px;
    padding-left: 6px;
    margin: 0 2px;
}
